{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 90,
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.yaml", "*.md", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
